{% extends 'home.html' %}
{% block container %}
<div class="top-pad">
    <h1>{{ product.name }}</h1>
    <small> {{ product.category.name }}</small>
    <h4>{{ product.company }}</h4>
    <h3>{{ product.price }}</h3>
    {% if product.image_path %}
        <img src="{{ url_for('static', filename='uploads/' + product.image_path) }}" style="width: 30%;"/> or
        <img src="{{ 'https://' + config['AWS_BUCKET'] + '.s3.eu-north-1.amazonaws.com/' + product.image_path }}"/>
    {% endif %}
</div>
{% endblock %}
